*{
        font-family: 'Nanum Pen Script', monospace , cursive;
}

div{
    width: 100%;
    height: 100%;
    background-color: goldenrod;
    color: whitesmoke;
    font-size: 30px;
    border: 1px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div > *{
    margin: 2px;
}
