fieldset{
    font-family: 'Black Han Sans', monospace, cursive;
}


#copyright{
    font-family: 'Nanum Pen Script', monospace , cursive;
}

body{
    width: 500px;
    margin: auto;
}

img#ozcoding_logo{
    width: 500px;
    height: 130px;
}

#persnal_info input{
    width: 200px;
}

#P-phone1{
    width: 50px;
}

#P-phone2{
    width: 60px;
}

#P-phone3{
    width: 60px;
}