body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}
#background{
    width: 700px;
    height: 400px;
    background-image: linear-gradient(to bottom left, red, violet);
    z-index: 1;
}

#word_space{
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 40px;
    border: 2px solid #0000ff50;
    background-color: #f5f5f580;
    z-index: 2;
    border-radius: 10px;
    line-height: 40px;
    font-size: 15px;
    color: #0000ff70;
}