body{
    background-color: black;
   
}
div#main{
    display: flex;
    width: 1500px;
    height: 300px;
    background-color: dimgray;
    margin: auto;
    border: 1px;
    border-radius: 20px;
}
div.card{
    display: inline-block;
}
div#side_bar{
    width: 200px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    background-color: dimgray;
    border-radius: 20px 0px 0px 20px;
    font-family: 'Nanum Pen Script', monospace , cursive;
    font-size: 23px;
}
div#introduce{
    display: inline-block;
    width: 1300px;
    height: 300px;
    background-color:silver;
    border: 1px;
    border-radius: 0px 20px 20px 0px;
}
#smile{
    margin: 3px;
}
#side_title{
    margin-top: 3px;
    margin-bottom: 5px;
}
#side_bar p{
    margin-top: 10px;
    margin-bottom: 10px;
}
#introduce p{
    font-size: 23px;
    font-family: 'Nanum Pen Script', monospace , cursive;
    margin-bottom: 5px;
    margin-left: 20px;
}
#introduce h1{
    margin-left: 20px;
}