/* 전체적인 세팅 */
*{
    box-sizing: border-box;
    font-family: 'Black Han Sans', monospace, cursive;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
}

.container{
    height: 100%;
    background-color: #000000CF;
}

/* 스크린 크기조정 */
.chat-screen{
    height: calc(100% - 120px);
    color: whitesmoke;
}

/* 유저 정보 표시되는 부분 */
.user{
    background-color: #202020;
    padding: 16px;
    height: 80px;
}

.user_column{
    float: left;
}

.user__pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #000000;
}

div > img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.user__nick, .user__count{
    margin: 5px;
}

.user__count{
    font-size: 12px;
    color: #ffff98;
}

/* 채팅 입력 창 */
.chat-form{
    height: 120px;
    background-color: #FFFFFF;
}

.chat-form__filed{
    height: 120px;
}

.chat-form__msg{
    float: left;
    width: calc(100% - 120px);
    height: 120px;
    resize: none;
    border: none;
    padding: 10px;
    font-size: 24px;
}

.chat-form__bt{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #505050;
    font-size: 18px;
    float: right;
}

.chat-form__msg:focus{
    outline: none;
}

.chat-form__bt:active{
    background-color: #303030;
}