<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    생성페이지 입니다.
    <form method="post">
        <div>
            <label for="en">EN</label>
            <input type="text" name="en" id="en">
        </div>
        <div>
            <label for="kr">KR</label>
            <input type="text" name="kr" id="kr">
        </div>
        <input type="submit" value="Create">
    </form>
</body>
</html>