.menu-images ul{
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 92px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 80px 0 10px 0;
}
.menu-images ul li{
    display: block;
    margin-right: 50px;
}
.menu-images ul li img{
    display: inline-block;
    width: 60px;
    height: 60px;
    align-items: center;
}
div.chat-bot{
    width: 56px;
    height: 56px;
    border-radius: 100px;
    background-color: red;
    align-items: center;
    justify-content: center;
    position: fixed;
            right: 50px;
            bottom: 50px;
}
div.chat-bot img{
    width: 50px;
    height: 50px;
    position: fixed;
            right: 52px;
            bottom: 52px;
}