header.header{
    width: 100%;
    z-index: 999;
    background-color: white;
    color: black;
}
.header-top{
    width: 100%;
    max-width: 1760px;
    height: 66px;
    padding: 18px 0;
    margin: auto;

    justify-content: space-between;
}
.logo{
    width: 154px;
    height: 30px;
    padding: 0 0 0 42px;
}
.logo img{
    width: 112px;
    height: 30px;
}
.utility{
    width: 360px;
    height: 24;
    align-items: center;
    margin-right: 150px;
    justify-content: right;
}
.utility span, .utility img{
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
}
.utility img#search1{
    width: 24px;
    height: 24px;
}
.utility img#personal{
    width: 24px;
    height: 24px;
}
.utility img#cart1{
    width: 24px;
    height: 24px;
}
.utility span#company{
    width: 56px;
    height: 20px;
}
.utility span#b2b{
    width: 45px;
    height: 20px;
}
.utility img#search2{
    width: 24px;
    height: 24px;
}
.utility img#cart2{
    width: 24px;
    height: 24px;
}
.hiden #search2, #cart2{
    margin-right: 1rem;
    padding: 0;
}
.hiden{
    display: none;
}

@media screen and (max-width: 950px ){
    .visible{
        display: none;
    }
    .hiden{
        display: block;
    }
    .utility{
        margin-right: 0;
    }
}